.fab{   
    font-size: 75px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
    border-radius: 8px;
    height: 75px;
    position: relative;
    left: 40%;
    transition: 0.8s;
    bottom: 35px;
}
body{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
}
.button{
    position: relative;
    left: 40%;
    background-color:cornflowerblue;
    border-color: cornflowerblue;
    color: white;
    width: 150px;
    border-radius: 15px;
}
.text:active{
    border-color: #285AEB;
    border-radius: 5px;
}
label:hover{
    text-decoration: underline;
}
.fab:hover{
    font-size: 150px;
    height: 145px;
}
.button:hover{
    text-decoration: underline;
}
fieldset{
    width: 400px;
    border-color:gray ;   
}
input{
    border-color: gray;
}
.Instagram1{
    padding-left: 8%;
}
a{
    text-decoration: none;
}
.Instagram2{
    width: 500px;
    height: 560px;
}
.form2{
    padding-top: 20px;
}