.box1{
width: 1551px;
background-color: blue;
height: 287px;
left: 72px;
position: relative;
top: 17px;
font-size: 30px;
}
.container{
    display: flex;
    position: relative;
    top: 32px;
    left: 72px;
    width: 1551px;
}
.box2{
    background-color: brown;
    height: 570px;
    width: 364px;
}
.box3{
    background-color: chartreuse;
    height: 570px;
    width: 1700px;
    margin-left: 30px;
}
img{
    width: 270px;
    height: 300px;
}