.a{
    background-color: aquamarine;
    height: 200px;
    overflow: scroll;
    
}
.b{
    background-color: cadetblue;
    margin-bottom: 50px;
    height: 100px;
}
.c{
    background-color: chocolate;
margin-bottom: 50px;
    height: 300px;
}
.d{
    background-color: darkolivegreen ;
    height: 400px;
}